.header {
  background-color: rgb(253, 200, 222);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  height: 24px;
}

.input {
  font-size: 14px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid #fafafa;
  padding: 4px;
  line-height: 1;
}

.button {
  font-size: 14px;
  height: 100%;
  border-radius: 8px;
  border: 1px solid #fafafa;
  background-color: #fff;
  padding: 4px 8px;
  line-height: 1;
}
